
:host {
  display: block;
  width: 20rem;
  &:hover,
  &:focus-within {
    background-color: #EDE4F7;
  }
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  gap: 1rem;
  background-color: #EDE4F7;
  box-shadow: var(--mat-app-elevation-shadow-level-2);
}
