/* You can add global styles to this file, and also import other style files */
@use './themes/variables' as *;

html, body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

* {
  font-family: 'Poppins', sans-serif;
}
