/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  background-color: #FAF6FD;
  font-family: 'Poppins', sans-serif;
  color: #5C4B7D;
  margin: 0;
}

input, textarea {
  background-color: #F6F1FA;
  border-radius: 8px;
}
