<h3>Trip Style</h3>
<div style="display: flex; flex-direction: column; gap: 1rem; justify-content: center;">
  <app-image-button image="./icons/food.svg" label="Food" [isCheckBox]="true"
                    (checkBoxChecked)="addOrRemoveInterest('Food',$event)"></app-image-button>
  <app-image-button image="./icons/history.svg" label="History" [isCheckBox]="true"
                    (checkBoxChecked)="addOrRemoveInterest('History',$event)"></app-image-button>
  <app-image-button image="./icons/shopping.svg" label="Shopping" [isCheckBox]="true"
                    (checkBoxChecked)="addOrRemoveInterest('Shopping',$event)"></app-image-button>
  <app-image-button image="./icons/nature.svg" label="Nature" [isCheckBox]="true"
                    (checkBoxChecked)="addOrRemoveInterest('Nature',$event)"></app-image-button>
  <app-image-button image="./icons/relaxing.svg" label="Relaxation" [isCheckBox]="true"
                    (checkBoxChecked)="addOrRemoveInterest('Relaxing',$event)"></app-image-button>
  <app-image-button image="./icons/children.svg" label="Kid-friendly" [isCheckBox]="true"
                    (checkBoxChecked)="addOrRemoveInterest('Kid-friendly',$event)"></app-image-button>
</div>
<button mat-button (click)="back.emit()">Back</button>
<button mat-button (click)="next.emit()">Next</button>
