<footer class="wanderly-footer">
  <div class="footer-grid">
    <div class="footer-item">
      <p class="footer-label">Location</p>
      <p class="footer-content">
        123 Anywhere St, Any City<br />
        State, Country 12345
      </p>
    </div>

    <div class="footer-item">
      <p class="footer-label">E-mail</p>
      <p class="footer-content">
        helloreallygreatsite.com
      </p>
    </div>

    <div class="footer-item">
      <p class="footer-label">Contact Number</p>
      <p class="footer-content">
        (123) 456 7890
      </p>
    </div>
  </div>
</footer>
